/* temp */

html {
  background-color: #FAF9F5;
  font-weight: normal;
}

body {
  font-family: 'Spectral', serif;
}

pre > code {
  display: block;
  overflow-x: visable;
  -webkit-text-size-adjust: none;
  padding-left: 18px;
  margin-left: -18px;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Size */

@import url('https://fonts.googleapis.com/css?family=Spectral:400');

* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

@mixin viewport-medium {
@media screen and (min-width: 550px) {
    @content;
}
}

@mixin viewport-large {
@media screen and (min-width: 800px) {
    @content;
}
}

/* Colors */

$black: hsla(246, 15%, 27%, 1);
$light-green: hsla(70, 27%, 70%, 1);
$leaf-green: hsla(67, 30%, 47%, 1);
$forest-green: hsla(89, 15%, 45%, 1);
$ivory-white: hsla(48, 33%, 97%, 1); 
$cream-white: hsla(48, 33%, 97%, 1); 
$pure-white: hsla(48, 33%, 97%, 1); 

/* Text colors */

:global(body) {
background-color: $cream-white;
color: $black;
}

:global(h1, p) {
color: $black;
position: center;
}

:global(a) {
    color: $black;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* Characters */

h1 {
font-family: 'Spectral', serif;
font-weight: 500;
line-height: 1.3;
margin:auto;
pointer-events: none;  
}

h1 {
font-size: 2.488rem;
margin:auto;
}

p {
margin-bottom: 1rem;
font-size: 1rem;
}
